.progress-bar {
    position: relative;
    height: 20px;
    width: 100%;
    border-radius: 50px;
    background: white;
}

.filler {
    background: #0bdb0e;
    height: 100%;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    transition: width .2s ease-in;
}

button {
    margin-right: 10px;
    padding: 7px 12px;
    font-size: 14px;
    background: #d14836;
    color: white;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    outline: 0;
}

#vids {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#vids a:first-of-type {
    margin-bottom: 5px;
}